leetcode/leetcode-cli
leetcode/leetcode-cli-plugins
########################Start: C Programming Language###########################
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
#########################End: C Programming Language############################

######################Start: Java Programming Language##########################
# Java Code Style Check tool
checkstyle.jar

# IntelliJ IDEA
leetcode/java/.idea
#######################End: Java Programming Language###########################